body {
	background-color: white;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
.hilfetext{
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 370px;
	padding-right: 370px;
	display: none;
}
.helpbutton{
	display: inline-block; 
	color: #3478e5;
	background-color: white;
	width: 200px;
	height: 50px;
	border: solid 2px #3478e5;
	background-color: transparent;
	font-size: 12px;
}
.solution{
	display: none;
}
.solutionbutton{
	position: relative;
	left:  calc(50% - 100px);
	color: black;
	background-color: white;
	width: 200px;
	height: 50px;
	border: solid 2px black;
	background-color: transparent;
	font-size: 12px;
}
.solutionbutton:hover:focus{
background-color: white;
color: black;
}
.solutionbutton:not(:focus):hover{
 background-color: black;
 color: white;
 }
.helpbutton:hover{
 background-color: #3478e5;
 color: white;
 }
::-webkit-input-placeholder {
	color: black;
	opacity: 1
}
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: White;
	color: yellow;
}
.red {
	color: red;
	background-color: white;
}
.video{
	width: 1920px;
	top: 23px;
	height: 500px;
	position: absolute;
	z-index: 0;
}
.image{
	position: relative;
	margin-top: 270px;
	bottom: -3px;
}
.imagecontainer{
	margin-left: calc(50% - 200px);
}
.Background{
	position: absolute;
}
.overlay{
	font-family: Bookman, serif;
	font-size: 300%;
	position: absolute;
	text-align:center;
	z-index: 1;
	width: 100%;
	margin-top: 200px; 
	height: 100px;
	color: black;
}
.green {
	color: green;
	background-color: white;
}
.lila {
	color: darkviolet;
	background-color: White;
}
.orange {
	color: orange;
	background-color: White;
}
::-webkit-scrollbar-thumb {
    background: Black;
    -webkit-border-radius: 1px;
    -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}
::selection{
	color: white;
	background-color: black;
}
input[id=answercheck] {
	position: relative;
	height: 25px;
	width: 25%;
	left: 37.5%;
	right: 37.5%;
	color: black;
	border: solid 3px black;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
}
.linkselected {
	text-decoration: none;
	color: yellow;
	display: inline-block;
	margin-top: 14px;
	margin-left: 10px;
	margin-right: 20px;
	font-family: 'Lato', sans-serif;
}
.code{
	left: 10px;
	text-align: left;
	border: solid 1px black;
}
input[id=codebox1]{
	position: relative;
	border: solid 1px black;
	left: 3em;
	height: 1em;
	width: 2em;
	}
.label{
	position: relative;
	left: 2.5em;
}
.linkglossarselected {
	color: blue;
	text-decoration:none;
	display: inline-block;
	margin-top: 14px;
	margin-left: 10px;
	margin-right: 20px;
	opacity: 1;
	font-size: 70%;
	font-family: 'Lato', sans-serif;
}
.linkselected::selection{
	color: blue;
	background-color: black;
}
div.navigation{
	margin-top: 0px;
	width: 100%;
	height: 45px;
	left: 0px;
	top: 0px;
	position: fixed;
	background-color: black;
	color: white;
	border: solid 1px black;
	z-index: 5;
}
.navbar{
	float:left;
	width: 75%;
}
.glossar{
	float: right;
	font-size:120%;
	margin-right: 10px;	
}
.searchbar {
	position: absolute;
	right: 1px;
	height: 45px;
	width: 100%;
	border: solid 1px black;
	background-color: white;
}
.buttons {
	width: 20px;
	height: 20px;
	background-color: transparent;
	box-shadow: none;
}
.buttons:hover{
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75)
}
.buttons:focus{
	background-color: Black;
	border-color: Black;
	outline: 0;
}
.code {
	height: 600px;
	width: 25%;
	margin-left: 37.5%;
	overflow: scroll;
	border-style: solid;
	background-color: White;
	padding: 10px;
}
.logo {
	display: inline-block;
	vertical-align: top;
	width: 35px;
	height: 35px;
	margin-right: 20px;
	margin-top: 5px;
	margin-left: 20px;
} 
.img {
	display: inline-block;
	vertical-align: top;
	width: 100px;
	height: 100px;
}
.link{
	color: White;
	text-decoration:none;
	display: inline-block;
	margin-top: 14px;
	margin-left: 10px;
	margin-right: 20px;
	opacity: 0.5;
	font-size: 70%;
	font-family: 'Lato', sans-serif;
}
.linkglossar{
	color: #3A75A6;
	text-decoration:none;
	display: inline-block;
	margin-top: 14px;
	margin-left: 10px;
	margin-right: 20px;
	opacity: 1;
	font-size: 70%;
	font-family: 'Lato', sans-serif;
}
.linkglossar:hover {
	opacity: 0.8;
}
.link:hover {
	opacity: 1;
}
div.heading {
	text-align:center;
	
}
.übertitel {
	text-align:center;
}
.question {
	margin-top: 100px;
	text-align:center;
	font-style:oblique;
	font-size: 120%
}
.answers{
	margin-left: 37%;
	font-size: 100%;
}
.answer{
	text-decoration: none;
}
.answercrossed{
	text-decoration: line-through;
	color: red;
}
.answertrue{
	color: green;
	text-decoration:none;
	font-size: 100%;
}
.textpoint{
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 370px;
	padding-right: 370px;
}
.text {
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 370px;
	padding-right: 370px;
}
.Begriffserklärungen{
	margin-bottom: 75px;
}
.Begriffe {
	text-align: left;
	margin-left: 70px;
	margin-right: 70px;
	padding-left: 420px;
	padding-right: 420px;
	margin-bottom: 0px;
	font-size: 110%;
}
.main{
	margin-top: 100px;
}
.nextlocked{
	margin-left: calc(50% - 100px);
	width: 200px;
	height: 50px;
	margin-top: 40px;
	margin-bottom: 50px;
	border: solid 2px Red;
	background-color: transparent;
	color: Red;
	font-size: 12px;
	cursor: not-allowed;
}
.nextlocked:hover{
	background-color: Red;
	color: white;
	opacity: 0.3;
}
.nextunlocked{
	margin-left: calc(50% - 100px);
	width: 200px;
	height: 50px;
	margin-top: 40px;
	margin-bottom: 50px;
	border: solid 2px Green;
	background-color: transparent;
	color: Green;
	font-size: 12px;
	cursor: allowed;
}
.nextunlocked:hover{
	background-color: Green;
	color: white;
}
:focus{
	outline: 0;
}
.end {
	position: absolute;
	background-color: Black;
	color: White;
	width: 100%;
	font-size: 75%;
	height: 150px;
	display: block;
	text-align:center;
	margin-bottom:0 px;
	z-index: 3;
}
.end span{
	position: absolute;
	bottom: 10px;
	display: block;
	left:28%;
	margin-right: 28%;
	text-align: center;
}
.hilfe{
	display:block;
	text-align:center;
}
.achtungheader{
	display: inline-block;
	padding-left: 530px;
	margin-top: 10px;
	font-weight: bold;
	font-style: italic;
	font-size: 90%;
	
}
.achtungcode{
	padding-left: 600px;
	font-size: 90%;
	padding-right: 400px;
	text-align: left;
	font-style: oblique;
	padding-bottom: 20px;
}
.achtung{
	padding-left: 500px;
	font-size: 90%;
	padding-right: 500px;
	text-align: center;
	font-style: oblique;
	padding-bottom: 20px;
}
